{% extends "base.html" %}
{% block content %}
            <div class="banner">
                <h2>О кооперативе «Бест Вей»</h2>
                <p>
«Бест Вей» – это потребительский кооператив, который помогает людям приобретать недвижимость на выгодных условиях без переплат и скрытых комиссий.

Наша миссия – сделать покупку жилья доступной, прозрачной и удобной. Мы объединяем ресурсы участников кооператива, чтобы каждый мог стать владельцем квартиры без долгих лет ипотеки и переплат банкам.</p>
            <a href="http://t.me/bw_bestwaycoop" style="text-decoration: none;">
                <svg width="20" height="20" viewBox="0 0 24 24" style="vertical-align: middle; margin-right: 5px;">
                    <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19-.14.75-.42 1-.68 1.03-.58.05-1.02-.38-1.58-.75-.88-.58-1.38-.94-2.23-1.5-.99-.65-.35-1.01.22-1.59.15-.15 2.71-2.48 2.76-2.69.03-.1.06-.2-.06-.3s-.35-.04-.5-.03c-.21.03-3.57 2.26-5.04 3.18-.48.3-.92.45-1.32.44-.43-.01-1.27-.24-1.89-.44-.75-.25-1.35-.38-1.3-.8.03-.27.4-.55 1.1-.85 4.43-1.94 7.37-3.22 11.2-4.96.53-.2 1.01-.3 1.45-.3.31.01.9.17.9.66.01.33-.33.76-.5 1.02z"/>
                </svg>
                <span>Наш Telegram</span>
            </a>
            </div>
{% endblock content %}